body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-family: "Courier New", monospace;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card {
    width: 600px;
    padding: 60px;
    border-style: none;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.controller {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.controller .buttons {
    display: flex;
    justify-content: center;
}

.noughtButton, .crossButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 300px;
}

.buttons button {
    padding: 10px 50px;
    border-radius: 20px;
    transition: 0.2s;
    font-size: 50px;
    background-color: white;
}

#nought.goingFirst, #cross.goingFirst {
    background-color: lightpink;
    transform: scale(1.1);
}

#noughtPlayerNameInput, #crossPlayerNameInput {
    border-style: none;
    background-color: transparent;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgrey;
    text-align: center;
    transition: 0.2s;
    font-size: 20px;
}

#noughtPlayerNameInput:hover, #crossPlayerNameInput:hover {
    border-width: 2px;
    border-color: HotPink;
}

#noughtPlayerNameInput:focus, #crossPlayerNameInput:focus {
    transform: scale(1.1);
    outline: none;
}

#noughtPlayer, #crossPlayer {
    transition: 0.2s;
    text-align: center;
}

.creation {
    font-size: 30px;
    color: black;
}

.currentTurn {
    transform: scale(1.1);
    color: DeepPink;
}

#endGameMessage {
    font-size: 30px;
}

.row {
    display: flex;
}

.square {
    border-style: solid;
    width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: rgb(228, 228, 228);
    transition: 0.2s;
    border-width: 1px;
    margin: -1px;
    border-color: rgb(142, 142, 142);
}

.gameStarted {
    background-color: white;
    border-color: black;
}

.gameStarted:hover {
    background-color: pink;
}

.win {
    background-color: pink;
}

#startAndRestart {
    width: 100px;
    margin-top: 60px;
    padding: 10px 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}



.footer {
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: grey;
}